/* 
 Note: inline style is considered a bad practice, instead 
 create a separate CSS file and import it into your React component
 */

.navigationBar {
    height: 10vh;
    background: #ffffff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed; /* This makes it stick to the top */
    top: 0; /* Position it at the top */
    width: 100%; /* Make it span the full width of the screen */
    z-index: 1000; /*Ensure it stays above other elements */
 }

 
.navigationButton{
    color: rgb(21, 52, 72);
    font-size: 1.2rem;
    margin: 0 15px; /* Adjust spacing between items */
    cursor: pointer;
    transition: 0.3s all ease-out;
}

.navigationButton:hover{
    color: rgb(223, 208, 184);
    background: rgb(21, 52, 72);
}