/* 
 Note: inline style is considered a bad practice, instead 
 create a separate CSS file and import it into your React component
 */

.navigationBar {
    height: 10vh;
    background: rgb(148, 137, 121);
    display: flex;
    justify-content: center;
    align-items: center;
    
 }

 
.navigationButton{
    color: rgb(21, 52, 72);
    background: rgb(223, 208, 184);
    font-size: 1.2rem;
    margin: auto;
    transition: 0.3s all ease-out;
    cursor: pointer;
}

.navigationButton:hover{
    color: rgb(223, 208, 184);
    background: rgb(21, 52, 72);
}